.file.active {
  background-color: beige;
}

.file {
  padding: 5px 10px;
  border: 1px solid lightgray;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.file.folder {
  cursor: pointer;
  font-weight: bold;
}